--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.18.1+cpu  # Updated to match PyTorch 2.7.1

streamlit==1.46.1
numpy==1.26.4
Pillow==10.3.0
opencv-python-headless==4.9.0.80
matplotlib==3.8.4
pyyaml==6.0.1
